# Ignores pycache
__pycache__/

# Ignores virtual environmet
venv/

# Ignores all log files
*.log

# Ignores all text files
*.txt

# Ignores changes to config file
config.py

# Ignores DS Store
.DS_Store